/* MENU */

body {
	background-color: #FF8800 !important;
	}
	
#menu {
	background-color: #33cccc;
	-webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
	box-shadow: 0px 5px 15px #666;
	}

/* MAINFRAME */
div#site {
	}
	
div#mainframe {
	color: white;
	font-family: 'Josefin Slab', serif;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30pt;
	line-height: 1.5em;
	padding-top: 50px;
	}
	
#site p {
	padding-top: 50px;
	}
	
/* FIND */

#header h1 {
	font-size: 40pt;
	text-shadow: 0px 2px 3px #555;
	}
	
#list a:hover {
	border-bottom: 2px #eee solid;
	color: white;
	padding-bottom: 7px;
	//text-shadow: 0px 2px 3px #555;
	}
	
ul {
	list-style: none;
	}
	
li {
	padding-top: 30px;
	}
	
#email {
	font-size: 16pt;
	float: left;
	}

#email a {
	border-bottom: 1px white solid;
	padding-bottom: 4px;
	}
	
#email a:hover {
	border-bottom: 2px #eee solid;
	//text-shadow: 0px 2px 3px #555;
	}
	
	
/* OBRAZOK */

#strom {
	float: right;
	margin-top: -100px;
	}